<div class="post_activity" style="padding: 20px; display: flex; justify-content: space-between; align-items: center;">
    <p style="margin: 0; color: var(--white); font-weight: bold;">Thread trả lời</p>
    <div style="color: var(--iconInPost); cursor: pointer;" data-bs-toggle="modal" data-bs-target="#activityModal">Xem hoạt động >
    </div>
</div>

<div class="modal fade" id="activityModal" tabindex="-1" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="height: 90vh; margin-top: 2rem; border-radius: 30px;">
        <div class="modal-content"
            style="height: 100%; background-color: var(--post); color: var(--white); border-radius: 10px; padding: 0px;">

            <!-- Fixed Header -->
            <div class="modal-header modal-header-activity">
                <h5 class="modal-title" id="activityModalLabel"
                    style="text-align: center; width: 100%; font-weight: bold;">Hoạt động đối với
                    bài viết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="background-color: var(--white);"></button>
            </div>

            <!-- Scrollable Body -->
            <div class="modal-body" style="height: 60vh; overflow-y: auto; padding: 20px;">
                <div class="status mx-0.5rem" style="border: 1px solid var(--border); padding: 10px; border-radius: 20px;">
                    <div class="post-header" style="display: flex; align-items: center; margin-bottom: 10px;">
                        <img class="avatar" src=""
                            style="margin-right: 10px; width: 40px; height: 40px; border-radius: 50%; background: var(--gray);">
                        </img>
                        <div class="username-time">
                            <div class="username" style="font-weight: bold;">tng_baro</div>
                            <div class="time" style="color: var(--iconInPost);">14 giờ</div>
                        </div>
                    </div>
                    <p id="content-activity" style="margin: 10px 0;">tin chuẩn nhé anh em</p>
                </div>

                <div class="statistics" style="margin-top: 15px;">
                    <div class="statistics-items">
                        <div><i class="far fa-eye" style="font-size: 125%;"></i> Lượt xem:</div>
                        <div>14.010</div>
                    </div>
                    <div class="statistics-items">
                        <div><i class="far fa-heart" style="font-size: 125%;"></i> Lượt thích:</div>
                        <div id="like_count_activityModal">80</div>
                    </div>
                    <div class="statistics-items">
                        <div><i class="fas fa-retweet" style="font-size: 125%;"></i> Lượt đăng lại:
                        </div>
                        <div>2</div>
                    </div>
                    <div class="statistics-items">
                        <span><i class="fas fa-comment"></i> Trích dẫn</span>
                        <span>9</span>
                    </div>
                </div>

                <hr style="border-color: var(--border); margin-top: 10px;">

                <!-- User List -->
        
            </div>
        </div>
    </div>
</div>