<!-- Followers and Following Modal Structure -->
<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="follow-tabs">
                    <button class="tab-btn active" data-tab="followers">
                        Người theo dõi
                        <span class="follower-count">12</span>
                    </button>
                    <button class="tab-btn" data-tab="following">
                        Đang theo dõi
                        <span class="following-count">0</span>
                    </button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="followers-tab" class="tab-content active">
                    <ul id="followersList" class="list-group">
                        <!-- Follower items will be appended here -->
                    </ul>
                </div>
                <div id="following-tab" class="tab-content">
                    <ul id="followingList" class="list-group">
                        <!-- Following items will be appended here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
