<!-- Dropdown Menu -->

<div class="dropdown-center_naviTop">
        <div style="display: flex; justify-content: center; align-items: center; width: 80%; gap: 2rem">
            <div style="margin-left: 3rem">
                <%= head_new %>
            </div>
            <div>
                <button style="border-color: #3b3a3a; border-radius: 50%; background-color: #1e1e1e; height: 1.5rem; width: 1.5rem;"
                    class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu top">
                    <li><a class="dropdown-item" href="#">Tất cả</a></li>
                    <li><a class="dropdown-item" href="#">Lượt theo dõi</a></li>
                    <li><a class="dropdown-item" href="#">Threads trả lời</a></li>
                    <li><a class="dropdown-item" href="#">Lượt nhắc</a></li>
                    <li><a class="dropdown-item" href="#">Lượt trích dẫn</a></li>
                    <li><a class="dropdown-item" href="#">Bài đăng lại</a></li>
                    <li><a class="dropdown-item" href="#">Được xác minh</a></li>
                </ul> 
            </div>
        </div>
        <div style="color: white; font-size: 100%; display: flex; justify-content: center; align-items: center; width: 10%">
            <button style="border-color: #3b3a3a; border-radius: 50%; background-color: #1e1e1e; height: 1.5rem; width: 1.5rem;"
                class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" style="margin-bottom: 3px;">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
            </button>
            <ul class="dropdown-menu top dropdown-menu-end" style="border-radius: 15px 15px;">
                <li>
                    <div>
                            <a class="dropdown-item" href="#" style="display: flex; justify-content: space-between; padding-right: 0.5rem;">
                                Ghim lên trang chủ
                                <div style="width: 20%; display: flex; justify-content: center; align-items: center">
                                    <i class="fa-solid fa-thumbtack" style="color: white; font-size: 120%;"></i>
                                </div>
                            </a>  
                    </div>
                    
                </li>
            </ul>
        </div>
</div>

<div class="navitop-768px">
    <div class="logo-navitop">
        <div style="width: 90%; display: flex; justify-content: center; margin-left: 2rem">
            <a href="/"><i class="fa-brands fa-threads" style="font-size: 150%;"></i></a>
        </div>
        <div style="width: 10%;">
            <div style="display: flex; justify-content:center">
                <button style="border-color: #3b3a3a; border-radius: 50%; background-color: #1e1e1e; height: 1.5rem; width: 1.5rem;"
                class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu top">
                    <div class="setting-UI-top" style="display: flex; justify-content: space-between">
                        <span>Giao diện</span>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg></div>
                    </div>
                    <li>Thông tin chi tiết</li>
                    <li>Cài đặt</li>
                    <li>Đã lưu</li>
                    <li>Đã thích</li>
                    <div class="hr" style="margin-top: 8px"></div>
                    <div class="setting-top-second">
                        <ul id="second" style="list-style-type: none; padding: 0; margin-top: 8px;">
                            <li>Báo cáo sự cố</li>
                            <li>Đăng xuất</li>
                        </ul>
                    </div>
                </ul> 
            </div>
            
        </div>
    </div>
</div>       