<!-- <script src="js/naviTop.js"></script> -->

<!-- Dropdown Menu -->
<div class="dropdown-center_naviTop">
        <div style="display: flex; justify-content: center; align-items: center; width: 80%; gap: 2rem">
            <div style="margin-left: 4rem">
                <%= head_new %>
            </div>
            <div>
                <button style="color: var(--white); border-color: var(--border); border-radius: 50%; background-color: var(--post); height: 1.5rem; width: 1.5rem;"
                    class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu">
                </button>
                <ul class="dropdown-menu top">
                    <li><a class="dropdown-item" href="?filter=all">Tất cả</a></li>
                    <li><a class="dropdown-item" href="?filter=newest">Mới nhất</a></li>
                    <li><a class="dropdown-item" href="?filter=following">Người theo dõi</a></li>
                    <li><a class="dropdown-item" href="?filter=self">Threads của bạn</a></li>
                    <li><a class="dropdown-item" href="?filter=reply">Threads trả lời</a></li>
                    <li><a class="dropdown-item" href="?filter=like">Lượt thích</a></li>
                    <li><a class="dropdown-item" href="?filter=comment">Lượt bình luận</a></li>
                    <li><a class="dropdown-item" href="?filter=liked">Đã thích</a></li>
                    <li><a class="dropdown-item" href="?filter=commented">Đã bình luận</a></li>
                </ul> 
            </div>
        </div>
        <div style="font-size: 100%; display: flex; justify-content: center; align-items: center; width: 10%">
            <button style="color: var(--white); border-color: var(--border); border-radius: 50%; background-color: var(--post); height: 1.5rem; width: 1.5rem;"
                class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="...">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" style="margin-bottom: 3px;">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
            </button>
            <ul class="dropdown-menu top dropdown-menu-end" style="border-radius: 15px 15px;">
                <li>
                    <div>
                            <a class="dropdown-item" href="#" style="display: flex; justify-content: space-between; padding-right: 0.5rem;">
                                Ghim lên trang chủ
                                <div style="width: 20%; display: flex; justify-content: center; align-items: center">
                                    <i class="fa-solid fa-thumbtack" style="color: var(--white); font-size: 120%;"></i>
                                </div>
                            </a>  
                    </div>
                    
                </li>
            </ul>
        </div>
</div>

<div id="setting-trans-top">
    <div class="setting-header">
        <div id="return-setting-menu" style="width: 16px; cursor: pointer"><svg id="return-setting-menu-top" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg></div>
        <span>Giao diện</span>
    </div>
    <div class="btn-trans">
        <div class="light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
          </svg></div>
        <div class="dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
          </svg></div>
    </div>
</div>

<div class="navitop-768px">
    <div class="logo-navitop">
        <div style="width: 90%; display: flex; justify-content: center; margin-left: 3rem">
            <a href="/" aria-label="Trang chủ"><i class="fa-brands fa-threads" style="font-size: 150%;"></i></a>
        </div>
        <div style="width: 10%;">
            <div style="display: flex; justify-content:center">
                <button style="color: var(--white); border-color: var(--border); border-radius: 50%; background-color: var(--post); height: 1.5rem; width: 1.5rem;"
                class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu">
                </button>
                <ul class="dropdown-menu top" id="setting-menu-top">
                    <li class="setting-UI-top" style="display: flex; justify-content: space-between">
                        <span>Giao diện</span>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                            </svg></div>
                        </li>
                    <li>Thông tin chi tiết</li>
                    <li>Cài đặt</li>
                    <li>Đã lưu</li>
                    <li>Đã thích</li>
                    <li class="setting-top-second">
                        <hr style="margin: 0 1rem; padding: 0;">
                        <ul id="second" style="list-style-type: none; padding: 0; margin-top: 8px;">
                            <li>Báo cáo sự cố</li>
                            <li onclick="window.location.href='./login'">Đăng xuất</li>
                        </ul>
                    </li>
                </ul> 
            </div>
            
        </div>
    </div>
</div>       

<!-- <script>
    document.querySelector('.setting-UI-top').addEventListener('click', function () {
        document.getElementById('setting-trans-top').style.display = 'block';
        document.getElementById('setting-trans-top').classList.add('setting-trans-top-active');
        document.getElementById('setting-menu-top').style.display = 'none';
    });   

    document.getElementById('return-setting-menu-top').addEventListener('click', function () {
        const settingTransTop = document.getElementById('setting-trans-top');
        const settingMenuTop = document.getElementById('setting-menu-top');
        
        settingTransTop.style.display = 'none';
        settingTransTop.classList.remove('setting-trans-top-active');
        settingMenuTop.style.display = 'block';
    });
</script> -->