<!-- Dropdown Menu -->
<div class="container_post_header" style="display: flex; justify-content: center; align-items: center; color: white; font-size: 100%; height: 4rem">
    <div style="width: 10%;"></div>
    <div style="display: flex; justify-content: center; align-items: center; width: 80%; gap: 2rem">
        <div><%= head_new %></div>
        <div>
            <button style="border-color: #3b3a3a; border-radius: 50%; background-color: #1e1e1e; height: 1.5rem; width: 1.5rem;"
                class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
            <ul class="dropdown-menu top">
                <li><a class="dropdown-item" href="#">Tất cả</a></li>
                <li><a class="dropdown-item" href="#">Lượt theo dõi</a></li>
                <li><a class="dropdown-item" href="#">Threads trả lời</a></li>
                <li><a class="dropdown-item" href="#">Lượt nhắc</a></li>
                <li><a class="dropdown-item" href="#">Lượt trích dẫn</a></li>
                <li><a class="dropdown-item" href="#">Bài đăng lại</a></li>
                <li><a class="dropdown-item" href="#">Được xác minh</a></li>
            </ul> 
        </div>
    </div>
    <div style="color: white; font-size: 100%; display: flex; justify-content: center; align-items: center; width: 10%">
            <button style="border-color: #3b3a3a; border-radius: 50%; background-color: #1e1e1e; height: 1.5rem; width: 1.5rem;"
                        class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" style="margin-bottom: 3px;">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                        </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" style="border-radius: 15px 15px;">
                <li><a class="dropdown-item" href="#">Ghim lên trang chủ</a></li>
            </ul>
    </div>
</div>