<!-- Menu phụ sẽ được hiển thị khi nhấn vào thumbtack -->
<script src="/js/naviLeft.js"></script>
<!-- <script src="/frontend/src/public/js/naviLeft.js"></script> -->

<%- include("../Partials/plusModal.ejs") %>

<div id="pin-menu">
    <div class="header-pin-menu">
        <h4 style="text-align: center; font-size: 95%; margin-bottom: 1rem">Ghim lên trang chủ</h4>
    </div>
    <div
        style="height: 3rem; background-color: var(--black); border: 0.1px solid var(--border); border-radius: 20px; display: flex; align-items: center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
        <input type="text" placeholder="Tìm kiếm từ khóa và trang cá nhân"
            style="padding: 5px; color: var(--white); background-color: var(--black); border: none; width: 70%; font-size: 15px; outline: none">
    </div>
    <div>
        <ul style="list-style-type: none; padding: 0; margin: 1rem 0;">
            <li>Dành cho bạn</li>
            <li>Đang theo dõi</li>
            <li>Đã thích</li>
            <li>Đã lưu</li>
            <li>Tìm kiếm</li>
            <li>Hoạt động</li>
            <li>Trang cá nhân</li>
            <li>Thông tin khác</li>
        </ul>
    </div>
</div>

<div id="setting-menu">
    <div class="setting-first">
        <ul id="first" style="list-style-type: none; padding: 0; margin: 1rem 0;">
            <div class="setting-UI" style="display: flex; justify-content: space-between">
                <span>Giao diện</span>
                <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg></div>
            </div>
            <li>Thông tin chi tiết</li>
            <li>Cài đặt</li>
        </ul>
    </div>
    <hr>
    <div class="setting-second">
        <ul id="second" style="list-style-type: none; padding: 0; margin: 1rem 0;">
            <li>Báo cáo sự cố</li>
            <li>Đăng xuất</li>
        </ul>
    </div>
</div>

<div id="setting-trans">
    <div class="setting-header">
        <div id="return-setting-menu" style="width: 16px; cursor: pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg></div>
        <span>Giao diện</span>
    </div>
    <div class="btn-trans">
        <div class="light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
          </svg></div>
        <div class="dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
          </svg></div>
    </div>
</div>

<div class="navibar">
    <!-- Dropdown hiển thị sẵn -->
    <div id="vertical_drop" class="dropdown">
        <!-- Dropdown menu luôn hiển thị -->
        <ul id="taskbar" class="dropdown-menu show" style="position: relative; border-color: var(--black)">
            <div class="logo">
                <li><a class="dropdown-item" href="/"><i class="fa-brands fa-threads" style="font-size: 150%;"></i></a>
                </li>
            </div>

            <div class="mid">
                <li><a class="dropdown-item" href="/Home"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="dropdown-item" href="/Search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><button class="dropdown-item" id="plus_icon"><i class="fa-solid fa-plus"></i></button></li>
                <li><a class="dropdown-item" href="/Announce"><i class="fa-regular fa-heart"></i></a></li>
                <li><a class="dropdown-item" href="/Profile"><i class="fa-regular fa-user"></i></a></li>
            </div>

            <!-- <div class="mid">
                <li><a class="dropdown-item" href="./home"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="dropdown-item" href="./search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><button class="dropdown-item" id="plus_icon"><i class="fa-solid fa-plus"></i></button></li>
                <li><a class="dropdown-item" href="./announce"><i class="fa-regular fa-heart"></i></a></li>
                <li><a class="dropdown-item" href="./profile"><i class="fa-regular fa-user"></i></a></li>
            </div> -->

            <div class="bot">
                <li><button class="dropdown-item" id="thumbtack-icon"><i class="fa-solid fa-thumbtack"></i></button></li>
                <li><button class="dropdown-item" id="bars-staggered-icon"><i class="fa-solid fa-bars-staggered"></i></button></li>
            </div>
        </ul>
    </div>
</div>