

<div id="overlay" class="overlay hidden"></div>
    <div id="plus_box" class="thread-container hidden">
        <div class="header">
            <button class="cancel-btn" style="font-size: 100%; font-weight: bold;">Hủy</button>
            <span>Thread mới</span>
            <div></div>
        </div>
        <hr class="divider">
        
        <div class="plus_body">
            <div class="avatar">
            </div>
            
            <form action="#" method="get">
                <div class="input-section">
                    <div class="username">_vteif</div>
                    <textarea class="input-box" placeholder="Có gì mới?"></textarea>
                    <div class="icon-group">
                        <label for="image-upload" class="upload-icon">
                            <i class="fa-regular fa-image"></i>
                            <input type="file" id="image-upload" accept="image/*" style="display: none;">
                        </label>
                        <button type="button">GIF</button>
                        <button type="button"><i class="fa-solid fa-hashtag"></i></button>
                        <button type="button"><i class="fa-solid fa-location-dot"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="plus_footer">
            <button class="reply-settings">
                Bất kỳ ai cũng có thể trả lời và trích dẫn
            </button>
            <button class="post-btn">Đăng</button>
        </div>
    </div>