

<div id="overlay" class="overlay hidden"></div>
    <div id="plus_box" class="thread-container hidden">
        <div class="header">
            <button class="cancel-btn" style="font-size: 100%; font-weight: bold;">Hủy</button>
            <span>Thread mới</span>
            <div></div>
        </div>
        <hr class="divider">
        
        <div class="plus_body">
            <div class="avatar">
                <img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-1/458376084_833517792278838_3719214845312631613_n.jpg?stp=dst-jpg_s148x148&_nc_cat=101&ccb=1-7&_nc_sid=6738e8&_nc_eui2=AeHwkF8wlwExBUB7qfm2HRXBtiXD7rIySrq2JcPusjJKuvtvFtTOrnj60mMBCDA94S-CiWHNasH0MmRu0TaGBAXH&_nc_ohc=IUhtS_cjhtUQ7kNvgH7wxKQ&_nc_zt=24&_nc_ht=scontent.fsgn5-10.fna&_nc_gid=AsUeDJhtaFo5nWhqTgoxmX-&oh=00_AYBRXNk-UOc2d_5HJnBMS33uL6oIB_4jG2ZwY8GqNG9o-w&oe=672D491A" alt="User avatar">
            </div>
            
            <form action="#" method="get">
                <div class="input-section">
                    <div class="username">_vteif</div>
                    <textarea class="input-box" placeholder="Có gì mới?"></textarea>
                    <div class="icon-group">
                        <label for="image-upload" class="upload-icon">
                            <i class="fa-regular fa-image"></i>
                            <input type="file" id="image-upload" accept="image/*" style="display: none;">
                        </label>
                        <button type="button">GIF</button>
                        <button type="button"><i class="fa-solid fa-hashtag"></i></button>
                        <button type="button"><i class="fa-solid fa-location-dot"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="plus_footer">
            <button class="reply-settings">
                Bất kỳ ai cũng có thể trả lời và trích dẫn
            </button>
            <button class="post-btn">Đăng</button>
        </div>
    </div>