<div class="three_dots_button" style="color: var(--white); font-size: 100%; display: flex; justify-content: center; align-items: center;">
    <button style="border: 3px solid white; border-radius: 50%; background-color: transparent; height: 1.5rem; width: 1.5rem; display: flex;justify-content:center; align-items: center"
    class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>


    <ul class="dropdown-menu dropdown-menu-end" style="margin-bottom: 10px; border-radius: 15px; background-color: var(--post); color: var(--white); width: 250px;">
        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div>
                    <a href="#" style="text-decoration: none; color: inherit;">Sao chép liên kết</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center">
                    <i class="bi bi-link-45deg"></i>
                </div>
            </div>
        </li>

        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div style="width: 10rem;">
                    <a href="#" style="text-decoration: none; color: inherit;">Giới thiệu về trang cá nhân</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center">
                    <i class="bi bi-info-circle"></i>
                </div>
            </div>
        </li>
        <hr style="height: 1px; border: none; background-color: var(--hr); margin: 5px 0;">

        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div style="width: 8rem;">
                    <a href="#" style="text-decoration: none; color: inherit;">Tắt thông báo</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center">
                    <i class="bi bi-bell-slash"></i>
                </div>
            </div>
        </li>

        
        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div style="width: 4rem;">
                    <a href="#" style="text-decoration: none; color: inherit;">Hạn chế</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center">
                    <i class="bi bi-shield-check"></i>
                </div>
            </div>
        </li>
        <hr style="height: 1px; border: none; background-color: var(--hr); margin: 5px 0;">

        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div style="width: 4rem;">
                    <a href="#" style="text-decoration: none; color:var(--red);">Chặn</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center; color:var(--red)">
                    <i class="bi bi-ban"></i>
                </div>
            </div>
        </li>


        <li style="display: flex; justify-content: center">
            <div class="dot">
                <div style="width: 10rem;">
                    <a href="#" style="text-decoration: none; color:var(--red)">Báo cáo</a>
                </div>
                <div style="width: 2rem; display: flex; justify-content: center; align-items:center; color:var(--red)">
                    <i class="bi bi-exclamation-octagon"></i>
                </div>
            </div>
        </li>
    </ul>
</div>