body {
    background-color: #0a0a0a;
    height: 100%;
    width: 100%;
}

/* Định dạng cho thanh nav cố định bên trái */
.navibar {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%; /* Độ rộng của thanh nav */
    height: 100%; /* Chiều cao toàn màn hình */
    background-color: #0a0a0a; /* Màu nền tối cho thanh nav */
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    --bs-dropdown-min-width: none;
}

/* Định dạng cho các icon và menu */
#taskbar {
    background-color: #0a0a0a;
    height: 100vh; /* Taskbar chiếm toàn bộ chiều cao màn hình */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Để các phần tử con có thể sử dụng absolute positioning */
    padding-top: 1rem; /* Khoảng cách phía trên cho logo */
}

.dropdown-menu{
    min-width: none;
    background-color: #1e1e1e;
}

.dropdown-menu:nth-child(2){
    padding-right: 5rem;
    border-color: #3b3a3a;
}

.dropdown-menu:nth-child(3){
    padding-right: 5rem;
    border-color: #3b3a3a;
}

li .dropdown-item{
    background-color: #1e1e1e;
    color: white;
}

.logo {
    margin-top: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
}

.mid {
    position: absolute;
    top: 30%; /* Cách phần trên của taskbar 9vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Chiều rộng full để căn giữa */
}

.bot {
    position: absolute;
    bottom: 8%; 
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Chiều rộng full để căn giữa */
}

#taskbar .dropdown-item {
    color: #e0e0e0;
    font-size: 24px; /* Kích thước của icon */
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 1rem;
    background-color: #0a0a0a;
    border-radius: 25%;
}

#taskbar .dropdown-item:hover {
    background-color: #333;
    color: #fff;
}

.dropdown:not(#vertical_drop) {
    position: fixed;
    display: flex;
    color: white;
    justify-content: center;
    width: 100%;
    height: 60px; /* Chiều cao cụ thể cho header */
    top: 0;
    left: 0;
    background-color: #0a0a0a;
}

/* Thanh navi ngang trên cùng */
.dropdown-center {
    height: 3rem;
    position: fixed;
    top: 0;
    left: 80px;
    background-color: #0a0a0a;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;

}

.btn{
    padding: 0;
}

.dropdown-toggle::after{
    margin-left: 0;
}

/* Định dạng cho ô 3 chấm khi ấn vào hiện ra */

/* Định dạng cho ô PIN khi ấn vào hiện ra */
#pin-menu ul li {
    padding: 8px 0;
    cursor: pointer;
}

#pin-menu ul li:hover {
    background-color: #333;
}

#pin-menu {
    display: none; /* Ban đầu ẩn menu */
    position: absolute; /* Đặt vị trí tuyệt đối */
    bottom: 3rem; /* Điều chỉnh vị trí dọc theo nhu cầu của bạn */
    left: 1rem; /* Điều chỉnh vị trí ngang theo nhu cầu của bạn */
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    z-index: 1000; /* Đặt z-index cao để nằm trên navibar */
    border: 1px solid #888;
}

/* Định dạng cho ô vuông dấu + góc dưới bên phải */
.add_small {
    position: fixed;
    bottom: 1.25rem;
    right: 1.5rem;
    padding: 1.25rem 2rem; /* Default padding */
    border: 1px solid #3b3a3a;
    border-radius: 25%;
    background-color: hsl(0, 0%, 12%);
}

#plus_add_small {
    font-size: 25px;
    color: #e0e0e0;
}

.add_small:hover {
    transform: scale(1.1);
}

/* Nội dung chính giữa */
.container-fluid {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
}

.container_post_header{
    display: flex;
    justify-content: center;
}

.container_post{
    width: 45%;
}

/* Định dạng cho các bài post */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Định dạng chung cho post */
.post {
    background-color: #1e1e1e;
    padding: 15px 0px;
    color: #e0e0e0;
    border: 0.1px solid #3b3a3a;
    width: 100%;
    box-sizing: content-box;
}

.post:not(:first-child):not(:last-child) {

}

.content {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 10px;
    display: grid;
    justify-content: flex-start;
}

/* Phần đầu của post */
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
}

#postTop {
    border-radius: 20px 20px 0px 0px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
    margin: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}

.username-time {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 10px;
}

.username {
    font-weight: bold;
    color: #e0e0e0;
    font-size: 14px;
}

.time {
    font-size: 12px;
    color: #888;
}

.setting {
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

/* Nội dung bài viết */
.post-content {
    font-size: 15px;
    margin-bottom: 10px;
    margin: 0px 5rem;
    color: #e0e0e0;
}

.post-description {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5rem;
    color: #e0e0e077;
}

/* Footer của bài viết */
.post-footer {
    display: flex;
    gap: 15px;
    margin-left: 5rem;
    font-size: 14px;
    color: #888;
}

.post-footer div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.post-footer i {
    font-size: 16px;
}

.numAction{
    margin-right: 0.75rem;
}