<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate Page</title>

    <link rel="stylesheet" href="/style/sendcode.css">
    <link rel="stylesheet" href="/style/updatepass.css" >
    <script src="/js/updatepass.js"></script>
    <script src="/js/recover.js"></script>

    <!-- <link rel="stylesheet" href="/frontend/src/public/style/login.css"> -->
    <!-- <script src="/frontend/src/public/js/login.js"></script> -->

</head>
<body>
    <img src="https://static.cdninstagram.com/rsrc.php/v3/y-/r/1qBAnProrEa.png" alt="banner" class="login_banner">
    <div class="container">
        <div class="code">
            <h2>Nhập code nhận từ email</h2>

            <div class="code-container">
                <input type="text" maxlength="1" class="code-input" id="code-1" />
                <input type="text" maxlength="1" class="code-input" id="code-2" />
                <input type="text" maxlength="1" class="code-input" id="code-3" />
                <input type="text" maxlength="1" class="code-input" id="code-4" />
            </div>                

            <h2>Nhập mật khẩu mới</h2>
        
            <div class="new_password">
                <input type="text" class="reset-pass-input" />
            </div>

            <div class="btn-confirm">
                <div>
                    <button class="confirm">CONFIRM</button>
                </div>
            </div>
        
            <div class="resend_container">
                <div>Didn't receive code?</div>
                <div class="resend" onclick="handleRecover(event)">Resend code</div>
            </div>
        </div>
    </div>
    <%- include("../Partials/loading.ejs") %>

</body>
<script>
    const backendDomain = "<%= host_backend %>";
    console.log("Backend Domain:", backendDomain);
</script>
</html>
