.modal-header-activity {
    position: sticky; top: 0; background-color: var(--post); z-index: 10; padding: 10px 20px; border-bottom: 1px solid var(--border) !important;
    height: 3rem !important;
}

.statistics {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding: 0;
}

.statistics-items {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 20px;
    font-weight: bold;
}

.avatar_cmt {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background: var(--gray); 
    margin: 0 10px 0 0;
    position: relative;
    overflow: visible;
    border: 1px solid var(--white);
}

.icon-overlay {
    position: absolute; 
    bottom: -5px; 
    right: -5px; 
    width: 20px; 
    height: 20px; 
    background-color: var(--overlay-like); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.form-control::placeholder {
    color: var(--iconInPost); /* Đổi màu này thành màu bạn muốn */
}
