@import url('colors.css');

/* Nội dung chính giữa */
.container-fluid {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
}

.container_post_header{
    display: flex;
    justify-content: center;
}

.container_post{
    width: 638px;
    margin-top: 4rem;
}

/* Định dạng chung cho post */
.post, .post_activity, .noti_wrapper {
    background-color: var(--post);
    padding: 15px 0px;
    color: var(--white);
    border: 0.1px solid var(--border);
    width: 100%;
    box-sizing: border-box;

}

.header_info_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

.content {
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 10px;
    display: grid;
    justify-content: flex-start;
}

/* Phần đầu của post */
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    width: 100%;
}

#postTop, .post-top {
    border-radius: 20px 20px 0px 0px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--hover);
    overflow: hidden;
    margin: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--white);
    font-size: 12px;
}

.msg{
    margin-left: 10px;
    margin-right: auto;
    color: var(--iconInPost);
    font-weight: 700;
}

.username-time{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 10px;
    align-items: center;
}

.username {
    font-weight: bold;
    color: var(--white);
    font-size: 14px;
}

.time {
    font-size: 12px;
    color: var(--iconInPost);
}

.small_box_infor_user {
    display: none;
    position: absolute;
    top: 20px;
    background-color: var(--post);
    border-radius: 20px;
    width: 300px;
    max-width: 500px;
    z-index: 1;
    padding: 20px;
    border: 1px solid var(--border);
}

.username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.small_box_infor_user .modal-content {
    text-align: left;
}

.small_box_infor_user .modal-header,
.small_box_infor_user .modal-body,
.small_box_infor_user .modal-footer {
    padding: 8px 0;
}

.small_box_infor_user .modal-header {
    display: flex;
    justify-content: space-between;
}

.small_box_infor_user .follow-btn {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.setting {
    font-size: 20px;
    cursor: pointer;
}

/* Nội dung bài viết */
.post-content {
    font-size: 15px;
    margin: 0px 5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.post-description {
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 5rem;
    color: var(--iconInPost);
}

/* Footer của bài viết */
.post-footer {
    display: flex;
    gap: 15px;
    margin-left: 5rem;
    font-size: 14px;
    color: var(--iconInPost);
}

.post-footer div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.post-footer i {
    font-size: 16px;
}

.numAction{
    margin-right: 0.75rem;
}

.modal-content{
    border: none;
}

.modal_img{
    max-width: 100%;
    margin: 0;
    height: 100vh;
}

.modal_img_content{
    height: 100%;
}
.modal_img_content_header{
    padding: 1rem;
    z-index: 1;
}

.modal_img_content_body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-top: -2rem;
}

.modal_img_content_body img {
    max-width: 100%;
    max-height: calc(100vh - 2rem - 32px);
    height: auto; /* Ensures the aspect ratio is maintained */
    width: auto; /* Ensures the aspect ratio is maintained */
    border-radius: 10px;
}

img, video {
    transition: max-height 0.5s ease-in-out;
}


  
@media screen and (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }

    .container_post{
        width: 100%;
    }

    .post{
        background-color: var(--black);
    }

    #postTop {
        border-radius: 0px;
    }

    .post-content, .create_thread_form_comment, .post-description, .post-footer{
        margin: 0;
        margin-left: 5rem;
        margin-right: 1rem;
    }

    .post{
        border-right: none;
        border-left: none;
    }

}