body {
    background-color: var(--black);
    height: 100%;
    width: 100%;
}

.post_btn:hover{
    background-color: var(--white) !important;
    color: var(--black) !important;
}

@media screen and (max-width: 768px) {
    .container_post{
        width: 100%;
    }
    .post_new{
        flex-direction: column;
    }
    .content{
        margin-top: 10px;
    }
}