body {
    background-color: var(--black);
    height: 100%;
    width: 100%;
}

/* Định dạng chung cho post */
.post_new {
    display: flex;
    align-items: center;
    background-color: var(--post);
    padding: 20px 0px 20px 0px;
    border: 0.1px solid var(--border);
    border-radius: 20px 20px 0px 0px;
}

.content{
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .container_post{
        width: 100%;
    }
    .post_new{
        flex-direction: column;
    }
    .content{
        margin-top: 10px;
    }
}