.add-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #1e1e1e;
    padding: 1rem 1.5rem;
    border: 1px solid #3b3a3a;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#plus_add_small {
    font-size: 35px;
    color: #e0e0e0;
}

.add-button:hover {
    padding: 1.25rem 1.75rem;
}

@media screen and (max-width: 768px) {
    .add-button {
        display: none;
    }
    
    #plus_add_small {
        display: none;
    }
    
    .add-button:hover {
        display: none;
    }
}