* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    min-height: 100vh;
    width: 100%;
}


/* Css for page profile */
main {
    width: 638px;
    min-width: 400px;
    position: relative;

}

.content_wrapper {
    margin-top: 4rem;
    height: calc(100% - 4rem);
    background-color: #1e1e1e;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    border: 1px solid #3b3a3a;
}

.info_wrapper {
    padding: 1.5rem 2rem 0.5rem;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    line-height: 0.5rem;
}

.user_name {
    font-weight: bold;
}

.user_handle {
    font-family: sans-serif;
}

.user_avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.bio {
    color: white;
    margin-top: 1rem;
}

.info_with_link_wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    /* Full width for the container */
}

.follower_wrapper {
    flex-basis: auto;
    text-wrap: nowrap;
}

.social_link_container {
    flex-basis: auto;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social_link_container a {
    display: flex;
    align-items: center;
}

.social_link_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


.profile_btn_wrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.insta_wrapper, .option_wrapper {
    flex-basis: auto;
    margin: 0 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.option_wrapper {
    display: none;
}

.option_btn {
    border-radius: 50%;
    border: 1px solid white;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Them a o follower wrapper */
.social_link_wrapper a, .follower_wrapper {
    text-decoration: none;
    color: color(display-p3 0.43 0.43 0.43);
}

.insta_wrapper a {
    color: white;
}

/* Chỉnh sửa trang cá nhân button */
.edit, .other_profile_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.edit_btn, .follow, .tag {
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
}

/* Nút follow và tag */
.other_profile_wrapper {
    justify-content: center;
    gap: 2%;
    display: none;
}


.follow, .tag {
    flex-basis: 49%;
    text-align: center;
}

.follow {
    background-color: white;
    color: black;
    font-weight: 500;
}

/* Tab section */
.tab_section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tab_section a {
    text-decoration: none;
    color: color(display-p3 0.43 0.43 0.43);
    font-weight: 620;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid color(display-p3 0.22 0.22 0.22);
    flex-basis: calc(100% / 3);
    text-align: center;
}

#thread {
    border-bottom: 1px solid white;
    color: white;
}

/* Create Thread */

.create_thread {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid color(display-p3 0.22 0.22 0.22);
}

.create_thread img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.create_thread_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 0.5rem;
    flex-basis: 80%;
    color: color(display-p3 0.43 0.43 0.43);
}

.create_thread button {
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    background-color: #1e1e1e;
    color: white;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
    flex-basis: 15%;
}

/* Hoàn thành trang cá nhân */
.complete_profile_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    background-color: transparent;

}

.status{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.status *{
    color: white;
}

.mission_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    color: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex: 1;
    background-color: transparent;
    gap: 1rem;
}

.mission, .mission_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.mission{
    width: 33%;
    min-width: 250px;
    height: 350px;
    transition:  min-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 1rem;
    background-color: #282828;
    border-radius: 2rem;
    align-self: flex-start;
}

.mission:hover{
    /* min-height: fit-content; */
    background-color: #303030;
}

.mission_content{
    gap: 1rem;
    overflow: hidden;
}

.mission_content i{
    padding: 1rem;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161616;
}

.mission_content h3{
    font-size: 1.5rem;
    font-weight: bold;
    height: 60px;
}

.mission_content p{
    font-size: 1rem;
    color: color(display-p3 0.43 0.43 0.43);
    overflow: hidden;
}

.mission button {
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    background-color: #1e1e1e;
    color: white;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
    width: 100%;
    margin-top: 1rem;
}

.mission button.done_mission_btn {
    background-color: white;
    color: black;
}

.mission button.done_mission_btn:hover {
    cursor: default;
}
.scroll-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.scroll-btn.hidden {
    display: none;
}

.scroll-btn:hover {
    background-color: #555;
}

.container_post .post:first-child{
    border-top: none;
}



@media screen and (max-width: 768px) {
    main {
        width: 100%;
        position: static;
    }

    .content_wrapper {
        margin-top: 2rem;
        height: calc(100% - 2rem);
        background-color: black;
    }

    .info_wrapper {
        padding: 2rem 1rem;
    }

    .tab_section {
        margin-top: 0.5rem;
    }

    .tab_section a {
        flex-basis: calc(100% / 2);
    }

    .create_thread {
        padding: 1rem;
    }

    .create_thread button {
        flex-basis: 30%;
    }
}
