* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    height: 100vh;
    width: 100%;
}

.container-fluid {
    /* height: 100%;
    width: 95%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-right: 0px; */
    /* padding-left: 0px; */
}

/* Css for page profile */
main {
    width: 40%;
    min-width: 400px;
    height: 100vh;
}

.content_wrapper {
    height: calc(100% - 4rem);
    background-color: rgb(24 24 24);
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_wrapper {
    padding: 1.5rem 2rem 0.5rem;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    line-height: 0.5rem;
}

.user_name {
    font-weight: bold;
}

.user_handle {
    font-family: sans-serif;
}

.user_avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.bio {
    color: white;
    margin-top: 1rem;
}

.info_with_link_wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    /* Full width for the container */
}

.follower_wrapper {
    flex-basis: auto;
    text-wrap: nowrap;
}

.social_link_container {
    flex-basis: auto;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social_link_container a {
    display: flex;
    align-items: center;
}

.social_link_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


.profile_btn_wrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.insta_wrapper, .option_wrapper {
    flex-basis: auto;
    margin: 0 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.option_wrapper {
    display: none;
}

.option_btn {
    border-radius: 50%;
    border: 1px solid white;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #181818;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Them a o follower wrapper */
.social_link_wrapper a, .follower_wrapper {
    text-decoration: none;
    color: color(display-p3 0.43 0.43 0.43);
}

.insta_wrapper a {
    color: white;
}

/* Chỉnh sửa trang cá nhân button */
.edit, .other_profile_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: white;
}

.edit_btn, .follow, .tag {
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    background-color: #181818;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
}

/* Nút follow và tag */
.other_profile_wrapper {
    justify-content: center;
    gap: 2%;
    display: none;
}


.follow, .tag {
    flex-basis: 49%;
    text-align: center;
}

.follow {
    background-color: white;
    color: black;
    font-weight: 500;
}

/* Tab section */
.tab_section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tab_section a {
    text-decoration: none;
    color: color(display-p3 0.43 0.43 0.43);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid color(display-p3 0.22 0.22 0.22);
    flex-basis: calc(100% / 3);
    text-align: center;
}

#thread {
    border-bottom: 1px solid white;
    color: white;
}

/* Create Thread */

.create_thread {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid color(display-p3 0.22 0.22 0.22);
}

.create_thread img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.create_thread_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 0.5rem;
    flex-basis: 80%;
    color: color(display-p3 0.43 0.43 0.43);
}

.create_thread button {
    border: 1px solid color(display-p3 0.22 0.22 0.22);
    background-color: #181818;
    color: white;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    font-weight: bold;
    flex-basis: 15%;
}


/* Định dạng chung cho post */
.post {
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    color: #e0e0e0;
    border-bottom: 1px solid #3b3a3a;
}


/* Phần đầu của post */
.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.username-time {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    gap: 1rem;
}

.username {
    font-weight: bold;
    color: #e0e0e0;
    font-size: 1rem;
}

.time {
    font-size: 1rem;
    color: #888;
}

.setting {
    font-size: 1.5rem;
    color: #888;
    cursor: pointer;
}

/* Nội dung bài viết */
.post-content {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    color: #e0e0e0;
}

.post-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    color: #e0e0e077;
}

/* Footer của bài viết */
.post-footer {
    display: flex;
    gap: 1rem;
    margin-left: 5rem;
    font-size: 1rem;
    color: #888;
}

.post-footer div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.post-footer i {
    font-size: 1rem;
}

.numAction {
    margin-right: 0.75rem;
}