@import url('colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--post);
    height: 100vh;
    width: 100%;
}

.login_banner {
    width: 100%;
    position: absolute;
    top: 0;
    height: 25vw; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 1rem;
    font-size: large;
}

.recover_container {
    height: 25rem;
    width: 25rem;
    /* background-color: aquamarine; */
    position: absolute;
    padding: 2rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recover_container p {
    color: #b3b3b3; /* Màu chữ xám nhạt */
    margin-bottom: 10px;
}

#recover_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#recover_form * {
    width: 100%;
    padding: 0.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--black);
    font-size: 0.7rem;
}

#recover_form input {
    background-color: var(--border);
    color: var(--iconInPost);
    outline: none;
}

#recover_form button{
    cursor: pointer;
}

#error{
    color: red;
    font-size: 15px;
    margin-top: 1.25rem;
    min-height: 20px;
}

#error_message{
    display: none;
}


@media screen and (max-height: 768px){
    .signup_container {
        top: 55%;
    }
}

@media screen and (max-height: 920px) and (min-height: 769px){
    .signup_container {
        top: 50%;
    }
}