body {
    background-color: var(--black);
    height: 100%;
    width: 100%;
}

/* 
Định dạng cho phần nội dung ở giữa */
.suggestions-container {
    width: 100%;
    background-color: var(--post);
    padding: 30px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    border: 0.1px solid var(--border);
}

.search-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    background-color: var(--black);
    color: var(--white);
}

h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--iconInPost);
}

.suggestion {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
    color: var(--white);
}

.avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--post);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--white);
    font-size: 12px;
    border: 1px solid var(--iconInPost);
}
.avatar img {
    width: 60px;
    height: 60px;
}
.profile-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.real-name {
    color:var(--iconInPost)888;
    margin-bottom: 0.5rem;
}

.profile-name {
    font-size: 16px;
    color: var(--white);
    font-weight: bold;
}
.profile-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.followers-count {
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--white);
}

.follow-btn {
    padding: 5px 15px;
    background-color: var(--post);
    color: var(--white);
    border: none;
    border-radius: 10px;
    border: 1px solid var(--border);
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .suggestions-container {
        padding: 20px;
        border-radius: 0px;
        background-color: var(--black);
        border-left: none;
        border-right: none;
        margin-bottom: 4rem;
    }

    .avatar {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }

    .profile-name {
        font-size: 14px;
    }

    .real-name {
        font-size: 12px;
    }

    .followers-count {
        font-size: 12px;
    }

    .follow-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    .search-box {
        background-color: var(--post);
    }

    .search-box input{
        background-color: var(--post) !important;
    }
}
