<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Moi lan back ve home = new reload -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    
    <title>Trang chủ · Threads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/navibar/navileft.css" />
    <link rel="stylesheet" href="/style/navibar/navitop.css">
    <link rel="stylesheet" href="/style/containerPost.css">
    <link rel="stylesheet" href="/style/plus.css">
    <link rel="stylesheet" href="/style/plusModal.css" />
    <link rel="stylesheet" href="/style/three_dots.css" />
    <link rel="stylesheet" href="/style/colors.css">

    <script src="https://kit.fontawesome.com/434b26bb0d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</head>

<body>
    <%- include("../Partials/naviLeft.ejs") %>

        <div class="container-fluid">
            <%- include("../Partials/naviTop.ejs") %>
                <div class="container_post">
                    <div class="post" id="postTop">
                        <div class="post-header">
                            <div class="avatar">
                                <img src="https://i.pinimg.com/736x/a1/d2/d2/a1d2d2db44cb9f45acbc8567fe2f7828.jpg"
                                    style="width: 40px; height: 40px;" />
                            </div>
                            <div class="username-time">
                                <div class="new_post" id="post_status" style="color: #888">Có gì mới?</div>
                            </div>
                            <div style="display: flex; align-items: center; width: 15%">
                                <button type="button" class="btn btn-dark post_btn"
                                    style="color: var(--white); background-color: var(--black); border-color: var(--border); width: 75%; padding: 0.25rem 0">
                                    Đăng
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <%- include("../Partials/plusIcon.ejs") %>

                    <%- include("../Partials/commentModal.ejs") %>
        </div>
</body>

<script src="/js/three_dots.js"></script>
<script src="/js/createPost.js"></script>
<script src="/js/Thread/getAllThread.js"></script>
<script src="/js/postWrap.js"></script>
<script src="/js/getUserData.js"></script>
<script>
    window.onload = async () => {
        const posts_fetched = await getAllThreads();
    
        for (const post of posts_fetched) {
            const userData = await getUserData(post.user_id);
            post.user = userData; 
        }
    
        await createPost(posts_fetched); 
        postInteract();
    };
    
    
</script>

</html>