/* Định dạng cho thanh nav cố định bên trái */
.navibar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 4rem; /* Độ rộng của thanh nav */
    height: 100%; /* Chiều cao toàn màn hình */
    background-color: var(--black); /* Màu nền tối cho thanh nav */
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    --bs-dropdown-min-width: none;
}

/* Định dạng cho các icon và menu */
#taskbar {
    background-color: var(--black);
    height: 100vh; /* Taskbar chiếm toàn bộ chiều cao màn hình */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Để các phần tử con có thể sử dụng absolute positioning */
    padding-top: 1rem; /* Khoảng cách phía trên cho logo */
}

.dropdown-menu{
    background-color: var(--post);
}

li .dropdown-item{
    background-color: var(--post);
    color: var(--white);
}

.logo {
    width: 100%; /* Chiều rộng full để căn giữa */
}

.mid {
    position: absolute;
    top: 30%; /* Cách phần trên của taskbar 9vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Chiều rộng full để căn giữa */
}

.bot {
    position: absolute;
    bottom: 8%; 
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Chiều rộng full để căn giữa */
}

#taskbar .dropdown-item {
    color: var(--white);
    font-size: 24px; /* Kích thước của icon */
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 1rem;
    background-color: var(--black);
    border-radius: 25%;
    width: fit-content;
}

#taskbar .mid .dropdown-item:hover {
    background-color: var(--hover);
    color: var(--white);
}

#taskbar .bot .dropdown-item:hover {
    background-color: var(--hover);
    color: var(--white);
}

.dropdown:not(#vertical_drop) {
    position: fixed;
    display: flex;
    color: var(--white);
    justify-content: center;
    width: 100%;
    height: 60px; /* Chiều cao cụ thể cho header */
    top: 0;
    left: 0;
    background-color: var(--black);
}

#pin-menu .bi.bi-search{
    width: 15%;
}

#pin-menu .header-pin-menu{
    width: 100%;
}

#pin-menu ul li {
    padding: 0.8rem 10px;
    cursor: pointer;
}

#pin-menu ul li:hover {
    background-color: var(--hover);
    border-radius: 10px;
}

#pin-menu {
    display: none;
    position: absolute;
    bottom: 5rem;
    left: 1rem;
    background-color: var(--post);
    color: var(--white);
    padding: 20px 20px 0px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px var(--boxShadow);
    width: 400px;
    z-index: 1;
    border: 1px solid var(--border);
}

/* Định dạng cho ô setting */
#setting-menu ul li {
    padding: 0.8rem 10px;
    cursor: pointer;
}

.setting-UI{
    padding: 0.7rem 10px;
    cursor: pointer;
}

.setting-UI:hover{
    background-color: var(--hover);
    border-radius: 10px;
}

#setting-menu ul#first li:not(li:last-child) {
    margin-top: 8px;
    margin-bottom: 8px;
}

#setting-menu ul#second li:last-child {
    color: var(--red);
}

#setting-menu ul li:hover {
    background-color: var(--hover);
    border-radius: 10px;
}

#setting-menu {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--post);
    color: var(--white);
    padding: 0px 20px 0px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px var(--boxShadow);
    width: 250px;
    z-index: 1;
    border: 1px solid var(--border);
}

/* Setting trans */
#setting-trans{
    display: none;
}

.setting-trans-active{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--post);
    color: var(--white);
    padding: 0px 20px 0px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px var(--boxShadow);
    width: 250px;
    z-index: 1;
    border: 1px solid var(--border);
}

.setting-header{
    display: flex;
    gap: 3rem;
    padding: 1.25rem 0px;
}

.btn-trans{
    height: 2.5rem;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--black);
    border-radius: 10px;
}

.light{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light:hover{
    background-color: var(--hover);
    border-radius: 10px;
    cursor: pointer;
}

.dark{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark:hover{
    background-color: var(--hover);
    border-radius: 10px;
    cursor: pointer;
}

.active{
    color:var(--black);
    background-color: var(--white);
}

@media screen and (max-width: 768px) {
    .logo{
        display: none;
    }

    .bot{
        display: none;
    }

    .navibar{
        top: auto;
        bottom: 0;
        left: 0;
        flex-direction: row;
        height: 10%;
        width: 100%;
        background-color: var(--navibot);
        backdrop-filter: blur(10px);
        z-index: 1;
    }

    #taskbar {
        background-color: var(--taskbar-bot);
        backdrop-filter: blur(10px);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 0;
        border: none;
    }

    .mid{
        position: none;
        top: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        
    }

    .dropdown-menu{
        width: 100%;
    }

    #vertical_drop{
        width: 100%;
    }

    #taskbar .dropdown-item {
        background-color: var(--navibot);
        backdrop-filter: blur(10px);
        color: var(--white);
        font-size: 24px; /* Kích thước của icon */
        height: 100%;
        margin-bottom: 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: fit-content;
    }

    #taskbar .mid .dropdown-item:hover {
        background-color: var(--hover-navibot);
        color: var(--white);
        border-radius: 15px;
    }

    .mid a{
        height: 100%;
        width: calc(20%);
    }

    #setting-menu ul li {
        display: none;
    }
    
    .setting-UI{
        display: none;
    }
    
    #setting-menu {
        display: none !important;
    }

    .setting-first{
        display: none;
    }

    .setting-second{
        display: none;
    }

    #setting-menu hr{
        display: none;
    }
}