/* Thanh navi ngang trên cùng */
.dropdown-center {
    height: 3rem;
    position: fixed;
    top: 0;
    background-color: #0a0a0a;
    width: calc(100% - 80px);
    display: flex;
    justify-content: center;
}

.dropdown-menu.top, .dropdown-menu.dropdown-menu-end{
    border-radius: 15px;
    border-color: #3b3a3a;
}

.btn{
    padding: 0;
}

.dropdown-toggle::after{
    margin-left: 0;
}

.dropdown-menu.top .dropdown-item{
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 20px;
    width: 15rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: white;
    width: 100%;
    border-radius: 20px;
}