/* Thanh navi ngang trên cùng */
.dropdown-center_naviTop {
    position: fixed;
    top: 0;
    background-color: #0a0a0a;
    width: 639px;
    /* width: calc(100% - 80px); */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    font-size: 100%;
    height: 4rem;
}

.dropdown-menu.top, .dropdown-menu.dropdown-menu-end{
    border-radius: 15px;
    border-color: #3b3a3a;
}

.btn{
    padding: 0;
}

.dropdown-toggle::after{
    margin-left: 0;
}

.dropdown-menu.top .dropdown-item{
    padding: 1rem 2.5rem 1rem 0.5rem;
    margin: 0px 0.5rem;
    border-radius: 15px;
    width: 15rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: white;
    border-radius: 20px;
}

/* navitop 768px*/
@media screen and (min-width: 769px) {
    .navitop-768px{
        display: none;
    }

    .logo-navitop{
        display: none;
    }

    .logo-navitop a{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .dropdown-center_naviTop{
        width: 100%;
    }

    .dropdown-center_naviTop{
        display: none;
    }

    .navitop-768px{
        display: block;
        position: fixed;
        top: 0;
        background-color: #0a0a0a;
        width: 100%;
    
        color: white; 
        font-size: 100%;
        height: 4rem;
    }

    .logo-navitop{
        display: flex;
        font-size: 24px;
        text-align: center;
        padding: 5px 10px;
        height: 100%;
        justify-content: center; 
        align-items: center; 
    }

    .logo-navitop a{
        display: flex;
        text-decoration: none;
        color: white;
    }

    .dropdown-menu.top{
        width: 250px;
    }

    .dropdown-menu.top *{
        color: white;
    }

    .dropdown-menu.top li{
        padding: 12px 5px;
        margin: 0px 10px;
    }

    .dropdown-menu.top li:last-child{
        color: red;
    }

    .dropdown-menu.top li:hover{
        background-color: #3b3a3a;
        border-radius: 10px;
    }

    .setting-UI-top{
        padding: 12px 5px;
        margin: 0px 10px;
    }

    .setting-UI-top:hover{
        border-radius: 10px;
        background-color: #3b3a3a;
    }

    .hr{
        width: 100%;
        height: 1px;
        background-color: #333;
    }
}