<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm · Threads</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/search.css" />
    <link rel="stylesheet" href="/style/navibar/navileft.css" />
    <link rel="stylesheet" href="/style/navibar/navitop.css">
    <link rel="stylesheet" href="/style/containerPost.css">
    <link rel="stylesheet" href="/style/plus.css">
    <link rel="stylesheet" href="/style/plusModal.css" />

    <script src="https://kit.fontawesome.com/434b26bb0d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- <script src="/home.js"></script> -->
    <!-- <script src="/js/naviLeft.js"></script> -->
    <script src="/home.js"></script>

</head>

<body>
    <%- include("../Partials/naviLeft.ejs")  %>

    <div class="container-fluid">
        <div class="container_post">
            <%- include("../Partials/naviTop.ejs")  %>
            <div class="suggestions-container">

                <input type="text" placeholder="Tìm kiếm" class="search-box">
                <h2>Gợi ý theo dõi</h2>
                
                <!-- List of suggestions -->
                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/dieu_nhi.jpg" alt="Diệu Nhi">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">dieu_nhiii</span>
                        <span class="real-name">
                            <!-- <i class="fa-solid fa-seedling" style="color: #2caa3b;"></i>
                            Diệu Nhi
                            <i class="fa-solid fa-seedling" style="color: #2caa3b;"></i> -->
                            🍒 Diệu Nhi 🍒
                        </span>
                        <span class="followers-count" >511K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>

                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/ndln.jpg" alt="Ninh Dương Lan Ngọc">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">ninh.duong.lan.ngoc</span>
                        <span class="real-name">
                            Ninh Dương Lan Ngọc
                        </span>
                        <span class="followers-count">479K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>

                <!-- Add more suggestions as needed -->
                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/nhagirlxinh.jpg" alt="nhagirlxinh">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">nhagirlxinh</span>
                        <span class="real-name">
                            𝐍𝐡𝐚̀ 𝐆𝐢𝐫𝐥 𝐗𝐢𝐧𝐡 💒
                            <!-- <i class="fa-solid fa-house-fire" style="color: #fc1303;"></i> -->
                        </span>
                        <span class="followers-count">149K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>
                
                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/yan.jpg" alt="yannews">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">yannewsc</span>
                        <span class="real-name">
                            YAN News
                        </span>
                        <span class="followers-count">114K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>

                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/cungtamche.jpg" alt="cungtamche">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">cungtamche</span>
                        <span class="real-name">
                            Cung Tâm Chế
                        </span>
                        <span class="followers-count">26,9K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>

                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/yeah1.jpg" alt="yeah1_tv">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">yeah1_tv</span>
                        <span class="real-name">
                            YeaH1 TV
                        </span>
                        <span class="followers-count">20K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>

                <div class="suggestion">
                    <div class="avatar">
                        <img src="/image/amie.jpg" alt="aimee.iuu">
                    </div>
                    <div class="profile-info">
                        <span class="profile-name">ninh.duong.lan.ngoc</span>
                        <span class="real-name">
                            𝐚𝐢𝐦𝐞́𝐞 𝜗𝜚˚⋆
                        </span>
                        <span class="followers-count">479K người theo dõi</span>
                    </div>
                    <button class="follow-btn">Theo dõi</button>
                </div>
            </div>
        </div>
        <%- include("../Partials/plusIcon.ejs")  %>
    </div>
</body>

</html>

<!-- cmt thêm để thêm vào main -->